/* .button {
    font-size: small;
    margin-left: 5px;
    padding: 7px;
  }
  .search {
    
    margin-left: 200px;
    
  }
  .searchbox {
    padding: 7px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .diets {
    text-decoration: none;
    display: flex;
    align-items: end;
    justify-content: end;
  }
  .bx{
    text-align: center;
    margin: 0 auto;
  } */