.example-card{
    width: 300px;
    height : 400px;
    margin: 20px;
    float : left;
    padding : 20px;
    border: 2px solid black;
}


.image{
    height: 200px;
    width : 200px;
}

mat-card-title{
    font-weight: bold;
    font-size: 20px;

}

a{
    text-align: center;
    text-decoration: none;
}

.btn{
    background-color:  #ff8456;
}