<div id="login-card" *ngIf="logform">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            <div class="col-md-5 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
                <div class="featured-image mb-3">
                    <img src="http://localhost/ketocontent.png" class="img-fluid" style="width: 250px;">                 
                </div>
            </div>
            <div class="col-md-5 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h1 style="font-weight: bold; color: black;">WELCOME TO FITPRO!!!</h1>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" [(ngModel)]="email" placeholder="Email id">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control form-control-lg bg-light fs-6" [(ngModel)]="password" placeholder="Password">
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-primary w-100 fs-6" (click)="login()">Login</button>
                    </div>
                    <div class="row" (click)="toggle()">
                        <small style="cursor : pointer ; text-align:center; color: darkblue">Dont have an account sign up here</small>
                    </div>
                    
                </div>

            </div>
            <div class="errors">{{error}}</div>
        </div>
    </div>
</div>

<div id="login-card" *ngIf="!logform"></div>
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <div class="col-md-5 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
            <div class="featured-image mb-3">
                <img src="http://localhost/ketocontent.png" class="img-fluid" style="width: 250px;">
                
            </div>
        </div>
        <div class="col-md-5 right-box">
            <div class="row align-items-center">
                <div class="header-text mb-4">
            <p style="font-weight: bold; color: black;">REGISTER AS A NEW USER</p>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control form-control-lg bg-light fs-6" [(ngModel)]="rusername" placeholder="Username">
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control form-control-lg bg-light fs-6" [(ngModel)]="rpassword" placeholder="Password">
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control form-control-lg bg-light fs-6" [(ngModel)]="vpassword" placeholder="Re-enter Password">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control form-control-lg bg-light fs-6" [(ngModel)]="remail" placeholder="Email id">
        </div>
        <div class="input-group mb-3">
            <button class="btn btn-lg btn-primary w-100 fs-6" (click)="register()">Register</button>
        </div>
        
        
    </div>

</div>
    </div>
</div>